# ----------------------------
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ----------------------------
# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
out/

# Eclipse
.settings/
.project
.classpath
bin/

# ----------------------------
# Logs
*.log

# ----------------------------
# OS
.DS_Store
Thumbs.db

# ----------------------------
# Environment / credentials
.env
application-*.yml
application-*.properties
application.properties
